.line-color-box {
    width: 20px;
    height: 20px;
}

.line {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.legend {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}