<div class="metro-map-wrapper" #metroMapWrapper>
  <svg #svgContainer class="metro-svg"></svg>
  @if( showTooltip && tooltipData ) {
    <div
      class="metro-map-tooltip"
      [style.left.px]="tooltipX"
      [style.top.px]="tooltipY">
      <div>ID: {{ tooltipData.publication.id }}</div>
      <div>{{ tooltipData.publication.title }} - {{ tooltipData.publication.year }}</div>
      <div>{{ tooltipData.publication.venue }}</div>
      <div>{{ tooltipData.publication.authors.join(', ') }}</div>
      <div style="margin-top: 10px">Lines: {{ tooltipData.publication.clusters.join(', ') }}</div>      
    </div>
  }
  @if ( lineData.length > 0 ) {
    <div class="metro-map-legend-container">
      <metro-map-legend 
      [lineData]="lineData"
      (clickLine)="toggleLineVisibility($event)"
      ></metro-map-legend>
    </div>
  }

</div>
